*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
background: linear-gradient(135deg, rgb(158, 158, 212), #ffffff);    
}

.calculator{
    width:320px;
    background:#272525;
    padding:20px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

#display{
    width:100%;
    height:60px;
    font-size:28px;
    text-align:right;
    padding:10px;
    margin-bottom:20px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    padding:20px;
    font-size:20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#46657c;
    color:white;
}

button:hover{
    background:#2980b9;
}
.clearBtn{
    background-color: rgb(231, 55, 55);
}
